USE [master]
GO
/****** Object:  Database [CSDL Exercises2]    Script Date: 05/30/2022 12:19:18 ******/
CREATE DATABASE [CSDL Exercises2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL Exercises2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSDL Exercises2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSDL Exercises2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSDL Exercises2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL Exercises2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL Exercises2]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 05/30/2022 12:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[RegisterId] [int] IDENTITY(10000,1) NOT NULL,
	[StudentId] [nvarchar](50) NULL,
	[SubjectId] [int] NULL,
	[RegisterTime] [datetime] NULL,
 CONSTRAINT [PK_Register] PRIMARY KEY CLUSTERED 
(
	[RegisterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 05/30/2022 12:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Major] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 05/30/2022 12:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(11001,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Credit] [int] NULL,
	[NumOfLesson] [int] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Register] ON 

INSERT [dbo].[Register] ([RegisterId], [StudentId], [SubjectId], [RegisterTime]) VALUES (10000, N'B25DCCN101', 11001, CAST(N'2022-05-30T11:24:01.073' AS DateTime))
INSERT [dbo].[Register] ([RegisterId], [StudentId], [SubjectId], [RegisterTime]) VALUES (10001, N'B25DCCN103', 11001, CAST(N'2022-05-30T11:24:01.073' AS DateTime))
INSERT [dbo].[Register] ([RegisterId], [StudentId], [SubjectId], [RegisterTime]) VALUES (10002, N'B25DCCN102', 11001, CAST(N'2022-05-30T11:24:01.073' AS DateTime))
SET IDENTITY_INSERT [dbo].[Register] OFF
GO
INSERT [dbo].[Student] ([StudentId], [FullName], [BirthDate], [PhoneNumber], [Email], [Major]) VALUES (N'B25DCCN101', N'Trần Văn Nam', CAST(N'2007-06-15' AS Date), N'0912365211', N'vannam@xmail.com', N'CNTT')
INSERT [dbo].[Student] ([StudentId], [FullName], [BirthDate], [PhoneNumber], [Email], [Major]) VALUES (N'B25DCCN103', N'Ngô Văn Tài', CAST(N'2007-04-15' AS Date), N'0912365211', N'vantai123@xmail.com', N'CNTT')
INSERT [dbo].[Student] ([StudentId], [FullName], [BirthDate], [PhoneNumber], [Email], [Major]) VALUES (N'B25DCCN102', N'Hồ Hoàng Yến', CAST(N'2007-07-27' AS Date), N'0912365211', N'hoangyenkk@xmail.com', N'CNTT')
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectId], [Name], [Credit], [NumOfLesson]) VALUES (11001, N'C++', 3, 36)
INSERT [dbo].[Subject] ([SubjectId], [Name], [Credit], [NumOfLesson]) VALUES (11002, N'C', 3, 36)
INSERT [dbo].[Subject] ([SubjectId], [Name], [Credit], [NumOfLesson]) VALUES (11003, N'C#', 4, 48)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
USE [master]
GO
